.searchedFields {
    padding: 8px;
    list-style-type: none;
  }
  .searchedFields > li {
    display: flex;
    align-items: baseline;
    margin-bottom: 4px;
  }
  .searchedFields > li > span {
    display: inline-block;
    margin: 4px;
  }
  .searchedFields > li > span.field {
    font-weight: bold;
  }
  .searchedFields > li > span.operation {
    font-size: 12px;
  }
  .searchedFields > li > span.operand {
    font-style: italic;
  }
  .searchedFields > li > button {
    float: right;
    margin-left: 8px;
  }